InternalAuth__ApiKey=local-payment-service-key
Payment__Currency=KZT
Payment__PlatformCommissionRate=0.10

EXTERNAL_PORT=1834

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_db
POSTGRES_PORT=1288
