# PartnerService variables
Jwt__PublicKey=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt9cvUlBIfHK9/b52Pv0y\nAI8bQSDapJMT/tm4aBHA6g+bHO4g+pWGgy4bVQeRSj5qo1i94QWHWTHhwRibkE0V\nfXog/vzvT6e5fiS1HwoB/uViIGzLCm4V4WSSVh638a/jHW+Rqq8lMr7cehs6Wj+C\nH6p0m6y9KPHHv1GmKFliXE7CIwVB0DhP1vrx/bnx/J5No6SNpo+2xDUfvY29ccPn\nqYit3rrfp1GplFiwwbXnikVLKPh31+5w2vtV4VscRw6PNumn14AJdRO3j6aJkGGp\npSBXNBwlU9wC06In/tgWTVGEE/p5Wx85yfilX6UDgt9tiZkdYx0F7royf2sIOopI\nvwIDAQAB\n-----END PUBLIC KEY-----\n
Cors__AllowedOrigins__0=http://localhost:5174
InternalAuth__ApiKey=local-partner-service-key
FileService__BaseUrl=http://file-service:8080
FileService__InternalApiKey=local-file-service-key
PaymentService__BaseUrl=http://payment-service:8080
PaymentService__InternalApiKey=local-payment-service-key
BookingService__BaseUrl=http://booking-service:8080
BookingService__InternalApiKey=local-booking-service-key

# Docker variables
EXTERNAL_PORT=1832

# DB variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_db
POSTGRES_PORT=1289
