API_GATEWAY_PORT=9186
API_GATEWAY_TLS_PORT=9443
FRONTEND_PORT=5173
INTERNAL_FRONTEND_PORT=5174
SUPERADMIN_FRONTEND_PORT=5175
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100
TEMPO_PORT=3200
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
FILE_SERVICE_PUBLIC_BASE_URL=http://localhost:9186/files
IMAGE_SERVICE_PUBLIC_BASE_URL=http://localhost:9186/internal
