# Docker settings
EXTERNAL_PORT=9181

# Service settings
USE_WEB_STORAGE=false # if false, files will be saved locally
MAX_FILE_SIZE_MB=10
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt9cvUlBIfHK9/b52Pv0y\nAI8bQSDapJMT/tm4aBHA6g+bHO4g+pWGgy4bVQeRSj5qo1i94QWHWTHhwRibkE0V\nfXog/vzvT6e5fiS1HwoB/uViIGzLCm4V4WSSVh638a/jHW+Rqq8lMr7cehs6Wj+C\nH6p0m6y9KPHHv1GmKFliXE7CIwVB0DhP1vrx/bnx/J5No6SNpo+2xDUfvY29ccPn\nqYit3rrfp1GplFiwwbXnikVLKPh31+5w2vtV4VscRw6PNumn14AJdRO3j6aJkGGp\npSBXNBwlU9wC06In/tgWTVGEE/p5Wx85yfilX6UDgt9tiZkdYx0F7royf2sIOopI\nvwIDAQAB\n-----END PUBLIC KEY-----\n
JWT_ISSUER=autorent-identity-service
JWT_AUDIENCE=autorent-service
GCLOUD_CLIENT_EMAIL=
GCLOUD_PRIVATE_KEY=
GCLOUD_PROJECT_ID=
GCLOUD_BUCKET=
