# Docker settings
EXTERNAL_PORT=9181

# Service settings
USE_WEB_STORAGE=true # if false, files will be saved locally
MAX_FILE_SIZE_MB=10
PUBLIC_BASE_URL=http://localhost:9186/internal
JWT_PUBLIC_KEY=
JWT_ISSUER=autorent-identity-service
JWT_AUDIENCE=autorent-service
GCLOUD_CLIENT_EMAIL=
GCLOUD_PRIVATE_KEY=
GCLOUD_PROJECT_ID=
GCLOUD_BUCKET=
