# Docker settings
EXTERNAL_PORT=9183

# Service settings
USE_WEB_STORAGE=true # if false, files will be saved locally
MAX_FILE_SIZE_MB=10
SIGNED_URL_TTL_SECONDS=900
JWT_PUBLIC_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
INTERNAL_API_KEY=local-internal-api-key
GCLOUD_CLIENT_EMAIL=
GCLOUD_PRIVATE_KEY=
GCLOUD_PROJECT_ID=
GCLOUD_BUCKET=
