# Docker settings
EXTERNAL_PORT=9182

PORT=8080
SMTP_VERIFY_ON_STARTUP=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=lanar9143@gmail.com
SMTP_PASS=ikno seca hfmc tscq
SMTP_FROM="Autorent App <no-reply@autorent-app.com>"

