# Docker settings
EXTERNAL_PORT=9182

# Service settings
PORT=8080
SMTP_VERIFY_ON_STARTUP=false

# SMTP settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Autorent <no-reply@autorent.kz>"
